.contacts__box {
    width: 100%;
    padding: calc(2rem + (5 - 2) * ((100vw - 20rem) / (106.66 - 20))) 5%
    0 5%;
}

.contacts__title {
    font-family: 'Rubik-ExtraBold', sans-serif;
    font-size: calc(1.2rem + (2.5 - 1.2) * ((100vw - 20rem) / (106.66 - 20)));
    color: #214910;
    line-height: 1;
    letter-spacing: calc(.03rem + (.133 - .03) * ((100vw - 20rem) / (106.66 - 20)));
    text-transform: uppercase;
    font-weight: 900;
    opacity: .8;
    width: 100%;
    text-align: center;
    margin-bottom: calc(1rem + (3 - 1) * ((100vw - 20rem) / (106.66 - 20)));
}

.contacts {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0 calc(.33rem + (8 - .33) * ((100vw - 20rem) / (106.66 - 20))) 0;
    position: relative;
}
@media screen and (max-width: 860px) {
    .contacts {
        padding-bottom: 1rem;
    }
}

.contacts img {
    width: 100%;
}
@media screen and (max-width: 860px) {
    .contacts img {
        display: none;
    }
}

.contacts-item_left {
    position: absolute;
    width: 40%;
    top: calc(.66rem + (2 - .66) * ((100vw - 17.78rem) / (120 - 17.78)));
    left: calc(.66rem + (2 - .66) * ((100vw - 17.78rem) / (120 - 17.78)));
    /*box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);*/
    z-index: 0;
}
@media screen and (max-width: 1820px) {
    .contacts-item_left {

    }
}

@media screen and (max-width: 1920px) {
    .contacts-item_left {
        /*width: calc(80% + (50 - 80) * ((100vw - 17.78rem) / (120 - 17.78)));*/


    }
}
@media screen and (max-width: 860px) {
    .contacts-item_left {
        position: relative;
        top: 0;
        left: 0;
        width: 65%;
        margin: 0 auto;
    }
}
@media screen and (max-width: 760px) {
    .contacts-item_left {
        width: 70%;
    }
}
@media screen and (max-width: 660px) {
    .contacts-item_left {
        width: 75%;
    }
}
@media screen and (max-width: 560px) {
    .contacts-item_left {
        width: 80%;
    }
}
@media screen and (max-width: 460px) {
    .contacts-item_left {
        width: 85%;
    }
}
@media screen and (max-width: 360px) {
    .contacts-item_left {
        width: 90%;
    }
}

.item-left_top {
    background-color: #214910;
    backdrop-filter: blur(4px) saturate(180%);
    -webkit-backdrop-filter: blur(4px) saturate(180%);
    opacity: .866;
    padding: calc(1rem + (2 - 1) * ((100vw - 20rem) / (106.66 - 20)))
    calc(1rem + (2 - 1) * ((100vw - 20rem) / (106.66 - 20)))
    1rem
    calc(1rem + (2 - 1) * ((100vw - 20rem) / (106.66 - 20)));
}

.contacts-address,
.contacts-email {
    width: 100%;
    font-size: calc(.66rem + (1 - .66) * ((100vw - 20rem) / (106.66 - 20)));
    line-height: calc(1.2rem + (1.66 - 1.2) * ((100vw - 20rem) / (106.66 - 20)));
    text-align: center;
    padding: 0 0 calc(.33rem + (.66 - .33) * ((100vw - 20rem) / (106.66 - 20))) 0;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
}

.contacts-phone {
    width: 100%;
    font-size: calc(1rem + (1.33 - 1) * ((100vw - 20rem) / (106.66 - 20)));
    line-height: 1.66rem;
    text-align: center;
    padding: 0 0 calc(.33rem + (.66 - .33) * ((100vw - 20rem) / (106.66 - 20))) 0;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
}

.contacts-social {
    width: 100%;
    text-align: center;
    padding: 0;
    display: flex;
    justify-content: center;
}

.contacts-social i {
    padding: 1rem;
    font-size: 2rem;
    line-height: 2rem;
    color: rgba(255, 255, 255, .7);
    cursor: pointer;
    transition: .5s;
}
@media screen and (max-width: 1920px) {
    .contacts-social i {
        padding: calc(.5rem + (1 - .5) * ((100vw - 17.78rem) / (120 - 17.78)));
        font-size: calc(1.66rem + (2 - 1.66) * ((100vw - 17.78rem) / (120 - 17.78)));
    }
}

.contacts-social i:hover {
    color: rgba(255, 255, 255, .9);
}

.item-left_middle {
    padding: calc(1rem + (2 - 1) * ((100vw - 20rem) / (106.66 - 20)));
    background-color: #81ac70;
    position: relative;
    text-align: center;
}

.item-left_middle input,
.item-left_middle textarea {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: calc(.66rem + (.9 - .66) * ((100vw - 20rem) / (106.66 - 20)));
    width: 100%;
    padding: calc(.33rem + (.66 - .33) * ((100vw - 20rem) / (106.66 - 20)))
    calc(.66rem + (1 - .66) * ((100vw - 20rem) / (106.66 - 20)));
    line-height: 1.5;
    opacity: .8;
    border: 1px solid rgba(255, 255, 255, 1);
    outline: none;
    background-color: white;
    margin-bottom: calc(.33rem + (1 - .33) * ((100vw - 20rem) / (106.66 - 20)));
    color: black
}

.contacts__link {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: calc(.6rem + (.7 - .6) * ((100vw - 20rem) / (106.66 - 20)));
    line-height: .7;
    background-color: #416930;
    display: inline-block;
    padding: calc(.8rem + (1.1 - .8) * ((100vw - 20rem) / (106.66 - 20)))
    calc(1.6rem + (2.2 - 1.6) * ((100vw - 20rem) / (106.66 - 20)))
    calc(.7rem + (1 - .7) * ((100vw - 20rem) / (106.66 - 20)))
    calc(1.6rem + (2.2 - 1.6) * ((100vw - 20rem) / (106.66 - 20)));
    text-transform: uppercase;
    color: white;
    transition: .5s;
    border-radius: 2rem;
    text-decoration: none;
    letter-spacing: .033rem;
    box-sizing: border-box;
    margin-top: calc(.33rem + (1 - .33) * ((100vw - 20rem) / (106.66 - 20)));
}

.contacts__link:hover {
    background-color: #214910;
}

